.main_content {
    margin-left: 250px;
    overflow: hidden;
    text-align: initial !important;
}

.page_content {
    padding: 94px 12px 60px;
    background: #f8f8fb;
    height: 100vh;
    overflow-y: scroll;
}

[data-changemain="false"] {
    margin-left: 60px;
    transition: all 0.2s ease-out;
}
