@import "./../../index.css";

.search_button {
    position: relative;
    top: 30px;
    margin-top: -0.35rem;
    /* align-items: baseline; */
}

.heroImg {
    height: 100%;
    align-items: flex-start;
    margin: 5% 0 0 0;
}

.member-layout {
    display: flex;
    flex-direction: column;
}

.member-layout > p {
    align-items: center;
}

.member-layout > ul {
    list-style: none;
}

.bg-custom {
    background-color: white;
    color: black;
    text-align: left;
}

.bg-yellow_custom {
    background-color: #e1ddeb !important;
}

.profileImage {
    height: 10ch;
    width: 10ch;
    margin-right: 3rem;
}

.profileImage > img {
    border-radius: 50%;
}
.header-flex {
    display: flex;
    flex-direction: row;
}

.header-flex :nth-child(2) {
    display: grid;
    place-content: center;
    margin-right: 3rem;
}

.header-flex :nth-child(3) {
    display: grid;
    place-content: center;
}

.color--code {
    width: 3rem;
    height: 1rem;
    border-radius: 0.25rem;
}
