@import "../../index.css";

.__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

#submit:disabled,
#submit[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

[data-otp="OTP"]:disabled,
[data-otp="OTP"][disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.forgot__passsword {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

#customer_link>span {
    color: blue !important;
}

.dialog__modal {
    border: none;
    border-radius: 3px;
}

/* Chrome, Safari, Edge, Opera */
#otp::-webkit-outer-spin-button,
#otp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#otp[type="number"] {
    -moz-appearance: textfield;
}

.custom-btn {
    width: 100%;
    background-color: #fff !important;    
    transition: all 0.2s ease;
    padding: 0px;
    border: none;
    color:#3a7cff !important;
}



.Registration_form_modal {
    border: none;
    border-radius: 25px;
    width: 80vw;
    height: 80vh;
    overflow-y: scroll;
    background-color: #f8f8fb;
}

.main_section_regitration {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hiddenScroll::-webkit-scrollbar {
    display: none;
}

.common {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}

.pagination {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}

.pagination:hover {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #3a7cff;
    transition: all 1s ease;
    border: 1px solid #3a7cff;
}

.paginationOnDemand {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #f50a75;
    border: 1px solid #f50a75;
    transition: all 1.5s ease;
}

.step1_Parent {
    border: 1px solid blue;
}

.formStep1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;
    border-left: 0.5px solid lightgray;
    border-radius: 20px;
}

.title_register {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.customeDropDown {
    background-color: #fff;
    border: 1px solid #dfdfe1;
    border-radius: 8px;
    padding: 2px;
}

#dropdown-basic {
    background-color: #fff;
    border-color: #fff;
    border: 1px solid #E5E4E2;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn-parent {
    background-color: #2cc88b !important;
    border-color: #2cc88b !important;
    color: #fff !important;
}

.next_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit {
    background-color: #f50a75;
    border-color: #f50a75;
}

.after_dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 20px;
}

.common_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .after_dialog {
        flex-direction: column !important;
    }

    .form_steps {
        flex-direction: row !important;

    }

    .pagination:hover {
        color: gray;
        font-size: 16px !important;
        font-weight: lighter !important;
        background-color: transparent;
        transition: all 1s ease;
        border: 1px solid gray;

    }

    .Registration_form_modal {
        height: 85vh !important;
    }

    .formStep1 {

        border-left: none !important;
        border-top: 0.5px solid lightgray;
    }
}

@media only screen and (max-width: 425px) {
    .formStep1 {
        height: 100% !important;
    }

    .test_step1 {
        display: none !important;
    }

    .form_steps {
        gap: 25px !important;
    }
}