.dropzone__container {
    width: 100%;
    border: 2px dashed black;
    border-color: #e9ecef;
    margin-top: 1rem;
    padding: 6%;
}

.upload__icon {
    color: #e9ecef;
}

.display__files {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

.remove__button {
    width: fit-content;
    background: none;
    outline: none;
    border: none;
    color: black;
}
