@import "../../index.css";

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-content: center;
    background-color: #f8f8fb;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: 0.25rem;
    width: 54ch;
}

.overflow-hidden {
    overflow: hidden !important;
}

.bar {
    background-color: rgb(85, 110, 230, 1);
    display: flex;
    justify-content: flex-end;
}

.bar > img {
    width: 42%;
}

.card_body {
    padding: 5%;
    gap: 1rem !important;
}

.reset__button {
    min-width: 110px;
    width: 140px;
    margin-top: 15px;
    align-self: flex-end;
    outline: none;
}

.avatar {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #eff2f7;
    border-radius: 50%;
    margin-top: -50px;
}

.avatar > img {
    transform: scale(0.75);
}

.correct_button {
    top: 13.5rem;
    right: 2rem;
    position: absolute;
    color: green;
}

.confirm_form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
}

.confirm_form > button {
    margin-top: 1rem;
}
