.layout_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    z-index: 1002;
    background-color: #fff;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.navbar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 0 12px 0 0;
}

.expand {
    border: none;
    background: none;
    color: #555b6d;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    pointer-events: all;
    cursor: pointer;
}

.d-flex {
    display: flex;
    justify-content: flex-end;
}

.btn_header {
    cursor: pointer;
    color: #555b6d;
    /* height: 70px; */
    box-shadow: none !important;
    border: 0;
    border-radius: 0;
    position: relative;
    outline: none !important;
    user-select: none;
    background-color: transparent;
}

.header_img {
    height: 36px;
    width: 36px;
    background-color: #f6f6f6;
    padding: 3px;
    border-radius: 50% !important;
    vertical-align: middle;
}

.heading {
    margin-left: 0.5rem !important;
    margin-right: 0.25rem !important;
    box-sizing: border-box;
    color: #555b6d;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.settings {
    cursor: pointer;
    color: #555b6d;
    /* height: 70px; */
    box-shadow: none !important;
    border: 0;
    border-radius: 0;
    position: relative;
    user-select: none;
    background-color: transparent;
    -webkit-appearance: button;
    /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}
.fa-gear {
    width: 50px;
    animation: spin 2s linear infinite;
    color: #555b6d;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid {
    border: 1px solid black;
}

.logout__button {
    position: absolute;
    width: max-content !important;
    right: 0;
}

[data-headertoggle="false"] {
    left: 60px;

    transition: all 0.2s ease-out;
}
