a {
    text-decoration: none;
}

.menu {
    /* background-color: #210076; */
    color: white;
    display: flex;
    /* justify-content:flex-start; */
    /* flex-direction: column nowrap; */
    /* margin: 10px; */
    /* align-items:center; */
    overflow: auto;
    width: 250px;
}

.Text {
    color: white;
}

.list {
    /* border:1px solid #ccc; */
    margin: 5px;
    /* padding:5px; */
    text-align: initial;
    margin-top: 0px;
    text-decoration: none;
    width: 15rem;
}

.list > a {
    display: flex;
    align-items: center;
}
.list > a > span {
    color: #a6b0cf;
}

.active_item {
    color: white !important;
    margin: 20px;
}
.list > img {
    height: 20px;
    width: 20px;
    /* align-items: flex-start; */
}
.inactive_item {
    color: white;
    margin: 20px;
}

.logo_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_list {
    font-weight: 600;
    margin: 0;
    padding-left: 15px;
    font-size: 12px;
    height: 93vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.menu_list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.sub_menu {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 250px;
}

.menu_icon {
    width: 100px !important;
}

[data-isopen="false"] {
    display: none;
}

[data-willcollapse="true"] {
    width: 60px;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.link_img {
    margin-top: 20px;
    margin-bottom: 20px;
}
