.section__1 {
    width: 63vw;
    height: 100vh;
    background-color: #f8f8fb;
    height: 1000px;
}

.section__2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.logo {
    transform: scale(0.1);
    position: relative;
    right: 16rem;
    top: -8rem;
}

.login__graphic {
    width: inherit;
    margin-top: -14rem;
}

.login__graphic > img {
    max-height: 34rem;
}

.main__login {
    display: flex;
}

@media screen and (max-width: 1270px) {
    .main__login {
        display: flex;
        flex-wrap: wrap;
    }

    .section__1 {
        width: 100%;
        background-color: #f8f8fb;
        height: 9rem;
    }

    .login__graphic {
        opacity: 0.1;
    }

    .section__2 {
        z-index: 1;
    }
}

@media screen and (max-width: 760px) {
    .main__login {
        display: flex;
        flex-wrap: wrap;
    }

    .section__1 {
        width: 100%;
        background-color: #f8f8fb;
        height: 9rem;
    }

    .login__graphic {
        opacity: 0.1;
    }

    .section__2 {
        z-index: 1;
    }
}

/* @media screen and (max-height: 653px) {
  .main__login {
    display: flex;
    flex-wrap: wrap;
  }

  .section__1 {
    width: 100%;
    background-color: #f8f8fb;
    height: 9rem;
  }

  .login__graphic {
    opacity: 0.1;
  }

  .section__2 {
    z-index: 1;
  }
} */
