@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #495057;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.input {
    display: block;
    width: 100%;
    padding: 0.47rem 0.75rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}

.btn {
    display: inline-block;
    width: 57.5ch;
    font-weight: 400;
    line-height: 1.5;
    color: #556ee6;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.47rem 0.75rem;
    font-size: 0.8125rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__muted {
    --bs-text-opacity: 1;
    color: #74788d !important;
    text-decoration: none;
}

.dialog__modal {
    border: none;
    border-radius: 5px;
}

.dialog__modal > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    font-weight: bold;
    color: grey;
}

.order-4,
.caret-4-desc,
.caret-4-asc {
    color: black !important;
    margin: unset;
}
.order-4::before {
    margin-left: 3.5px;
    content: "▲" !important;
}

.order-4::after {
    margin-left: 3.5px;
    content: "▲" !important;
    -moz-transform: rotate(-180deg); /* Firefox */
    -webkit-transform: rotate(-180deg); /* Webkit */
    -ms-transform: rotate(-180deg); /* IE */
    -o-transform: rotate(-180deg); /* Opera */
    transform: rotate(-180deg); /* future */
    position: absolute;
}
.react-bootstrap-table th .caret-4-asc:before {
    margin-left: 3.5px;
    content: "▲" !important;
}

.react-bootstrap-table th .caret-4-asc:after {
    margin-left: 3.5px;
    content: "▲" !important;
    -moz-transform: rotate(-180deg); /* Firefox */
    -webkit-transform: rotate(-180deg); /* Webkit */
    -ms-transform: rotate(-180deg); /* IE */
    -o-transform: rotate(-180deg); /* Opera */
    transform: rotate(-180deg); /* future */
    position: absolute;
}

.react-bootstrap-table th .caret-4-desc:before {
    margin-left: 3.5px;
    content: "▲" !important;
}

.react-bootstrap-table th .caret-4-desc:after {
    margin-left: 3.5px;
    content: "▲" !important;
    -moz-transform: rotate(-180deg); /* Firefox */
    -webkit-transform: rotate(-180deg); /* Webkit */
    -ms-transform: rotate(-180deg); /* IE */
    -o-transform: rotate(-180deg); /* Opera */
    transform: rotate(-180deg); /* future */
    position: absolute;
}

table {
    font-size: 11px !important;
    font-weight: 600 !important;
    color: #495057 !important;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

tbody {
    font-weight: 100 !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.searchBtn {
    background-color: #f1b44c;
    width: max-content;
    border-color: #f1b44c;
}

.search_button {
    position: relative;
    top: 30px;
    /* align-items: baseline; */
}

.page-link {
    margin: initial;
}

.form__el {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.next_btn {
    width: max-content;
    margin-left: 95%;
    position: sticky;
}

.spinner-border {
    width: 20px !important;
    height: 20px !important ;
}

.close_btn {
    background: none !important;
    border: none !important;
    outline: none !important;
}

.close_btn:focus {
    background: none !important;
    border: none !important;
    outline: none !important;
}
.close_btn:focus-visible {
    background: none !important;
    border: none !important;
    outline: none !important;
}
.close_btn:focus-within {
    background: none !important;
    border: none !important;
    outline: none !important;
}

.mandate_field {
    color: red;
}
